---
layout: base
title: Home
---
<div id="content" class="span12 offset2">
	<div id="site-navigation">
		<ul class="breadcrumb">
			<li class="active"><a href="/">Home</a> <span class="divider">|</span></li>
			<li><a href="/about.html">关于</a></li>
		</ul>
	</div>
	{% for page in paginator.posts %}
		<div id="post-item-{{ page.id }}" class="post-item-wrapper">
			<div id="post-title">
				<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
				<p>Posted at {{ page.date | date_to_string }}</p>
			</div>
			<div id="post-body">
				{{ page.content | truncate: 420 }}
			</div>
			<p id="post-link">
				<a href="{{ page.url }}">Read now &rarr;</a>
			</p>
		</div>
	{% endfor %}
	
	<div id="post-navigation" class="pagination">
		<ul>
		{% if paginator.page == 1 %}
			<li class="prev disabled"><a href="/page{{ paginator.previous_page }}/">&larr; Previous</a></li>
			<li class="active"><a href="/">1</a></li>
		{% endif %}
		
		{% if paginator.page > 1 %}
			{% if paginator.previous_page == 1 %}
				<li class="prev"><a href="/">&larr; Previous</a></li>
			{% else %}
				<li class="prev"><a href="/page{{ paginator.previous_page }}/">&larr; Previous</a></li>
			{% endif %}
			<li><a href="/">1</a></li>
		{% endif %}		
		
		{% for count in (2..paginator.total_pages) %}
			{% if count == paginator.page %}
				<li class="active"><a href="/page{{ count }}">{{ count }}</a></li>
			{% else %}
				<li><a href="/page{{ count }}">{{ count }}</a></li>
			{% endif %}
		{% endfor %}

		{% if paginator.page < paginator.total_pages %}
			<li class="next"><a href="/page{{ paginator.next_page }}/">Next &rarr;</a></li>
		{% endif %}
		
		{% if paginator.page == paginator.total_pages %}
			<li class="next disabled">Next &rarr;</li>
		{% endif %}
		</ul>
	</div>
</div>