---
layout: base2
title: Home
---

<div id="content" class="span6 offset3">
	<div id="site-navigation">
		<ul class="breadcrumb">
			<li id="home" class="active"><a href="#">Home</a> <span class="divider">|</span></li>
			<li id="cn"><a href="#cn">中文</a> <span class="divider">|</span></li>
			<li id="en"><a href="#en">English</a> <span class="divider">|</span></li>
			<li><a href="/about.html">关于</a> <span class="divider">|</span></li>
			<li><a href="/design-notes.html">设计笔记</a></li>
		</ul>
	</div>
	<div id="post-list">

	</div>
	<div class="pagination">
		<ul id="pagination">
			<li><a id="prev">&larr; Previous</a></li>
			<li><a id="next">Next &rarr;</a></li>
		</ul>
	</div>
</div>
<script type="text/template" id='tpl-post-item'>
	<div class="post-item-wrapper">
		<div id="post-title">
			<h2><a href="<%= link %>"><%= title %></a></h2>
			<p><%= updated %></p>
		</div>
		<div id="post-body">
			<%= excerpt %>
		</div>
		<div id="post-link">
			<a href="<%= link %>">Read now &rarr;</a>
		</div>
	</div>
</script>