<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  
    xml:lang="en" lang="en">
    <head>
        <title>
        {% if page.title == "Neo Talks" %}
            {{ page.title }}
        {% else %}
            Neo Talks | {{  page.title }}
        {% endif %}
        </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="en" />
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen"/>
        <link href="/atom.xml" rel="alternate" type="application/rss+xml" />
        {% include analytics.html %}
    </head>
    <body>
    <div class="container">
    	<div class="row">
	    	{% include header.html %}
	    </div>
	    <div class="row">
	        {{ content }}
	    </div>
	    <div class="row">
	        {% include footer.html %}
	    </div>
    </div>

    <!-- Beginning SKYSCRPR tags -->

    <script id="skyscrpr-config-script">
          var skyscrprSettings = {
            site_id: '7568585c-eb30-11e1-99d7-12313d04fd8e',
          };
        </script>
        <script>
          (function() {
            function async_load() {
              var scr = document.createElement('script');
              scr.type = 'text/javascript'; 
              scr.async = true;
              scr.src = '//install-skyscrpr-com.s3.amazonaws.com/skyscrpr.js';
              var a = document.getElementsByTagName('script')[0];
              a.parentNode.insertBefore(scr, a);
            }
            if (window.attachEvent) {
              window.attachEvent('onload', async_load);
            } else {
              window.addEventListener('load', async_load, false);
            }
          })();
    </script>
      
    <!-- Closing SKYSCRPR tags -->

    </body>
</html>