---
layout: base
---
<div id="content" class="span6 offset3">
	<div id="site-navigation">
		<ul class="breadcrumb">
			<li><a href="/">Home</a> <span class="divider">/</span></li>
			<li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
		</ul>
	</div>
	<div class="post-item-wrapper">
		<div id="post-title">
			<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
			<p>{{ page.date | date_to_string }}</p>
		</div>
		<div id="post-body">
			{{ content }}
		</div>
	</div>
	<div id="post-navigation" class="pagination">
		<ul>
		{% if page.previous %}
			<li>
				<a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
			</li>
		{% endif %}
		{% if page.next %}
			<li>
				<a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
			</li>						
	    {% endif %}
	    </ul>
	</div>
</div>